# Bảo mật cấu hình Gurobi License và biến môi trường
.env

logs/

Output/

__pycache__/
*.pyc
*.pyo
*.pyd
*.json
.Python
env/
venv/
runlim/
log/
.venv/
pip-log.txt
pip-delete-this-directory.txt

gurobi.log

gcp_key

gcp_key.pub

*.tar.gz

*.wcnf
*.cnf
runlim_log.txt